USER_BOT_TOKEN=your_user_bot_token_here
ADMIN_BOT_TOKEN=your_admin_bot_token_here
ADMIN_CHAT_ID=your_telegram_user_id
ADMIN_USER_IDS=123456789,987654321
DB_PATH=database.db
BKASH_NUMBER=017XXXXXXXX
NAGAD_NUMBER=018XXXXXXXX
SUPPORT_LINK=https://t.me/your_support
